{
  "parser": "babel-eslint",
  "rules": {
    "no-undef": "off",
    "new-cap": "off",
    "no-fallthrough": "off",
    "one-var": "off",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["warn", 100]
  }
}
